.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

__pycache__/
*.py[cod]
.venv/

download/
data/youkuAccount.py

tools/ffmpeg
tools/ffmpeg.exe
tools/ffprobe
tools/ffprobe.exe

chromedriver.exe
